<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container body-content">
        <h3>@ViewData["Title"]</h3>

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - Профіль науковця</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
