<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">@((ViewBag.Profile != null) ?
                    (ViewBag.Profile.LastName + " " + (ViewBag.Profile.FirstName == null ? string.Empty : ViewBag.Profile.FirstName[0].ToString()) + "." + (ViewBag.Profile.MiddleName == null ? string.Empty : ViewBag.Profile.MiddleName[0].ToString()) + ".") :
                    string.Empty)</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a asp-controller="Home" asp-action="Index">Особисті данні</a></li>

                <li><a asp-controller="PublicationActivity" asp-action="Index">Публікаційна активність</a></li>

                <li><a asp-controller="ProfessionalActivity" asp-action="Index">Професійна активність</a></li>

                <li><a asp-controller="AdditionalActivity" asp-action="Index">Додаткова діяльність</a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        Звіти <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a asp-controller="Reports" asp-action="GenerateLicenseTerms">Згенерувати (ліцензійни умови)</a></li>

                        <li><a asp-controller="Reports" asp-action="GenerateAdditionalActivity">Згенерувати (додаткова діяльність)</a></li>

                        <li><a asp-controller="Reports" asp-action="Visualize">Візуалізувати</a></li>
                    </ul>
                </li>

                <li><a asp-controller="Account" asp-action="Exit">Вихід</a></li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>