<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">Яковенко О.Є.</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a asp-controller="Home" asp-action="Index">Особисті данні</a></li>

                <li><a asp-controller="PublicationActivity" asp-action="Index">Публікаційна активність</a></li>

                <li><a asp-controller="ProfessionalActivity" asp-action="Index">Професійна активність</a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        Звіти <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a asp-controller="Reports" asp-action="Generate">Згенерувати</a></li>

                        <li><a asp-controller="Reports" asp-action="Visualize">Візуалізувати</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>