<ul class="nav nav-pills">
    <li role="presentation" class="active"><a asp-controller="Home" asp-action="Index">Особисті данні</a></li>

    <li role="presentation"><a asp-controller="Home" asp-action="PublicationActivity">Публікаційна активність</a></li>

    <li role="presentation"><a asp-controller="Home" asp-action="ProfessionalActivity">Професійна активність</a></li>

    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Звіти <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li role="presentation"><a asp-controller="Home" asp-action="Reports">Згенерувати</a></li>

            <li role="presentation"><a asp-controller="Home" asp-action="Reports">Візуалізувати</a></li>
        </ul>
    </li>
</ul>