<a asp-controller="Home" asp-action="Index">Особисті данні</a>
<a asp-controller="Home" asp-action="PublicationActivity">Публікаційна активність</a>
<a asp-controller="Home" asp-action="ProfessionalActivity">Професійна активність</a>
<a asp-controller="Home" asp-action="Reports">Звіти</a>